@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body{
    background: linear-gradient(45deg, #181818, #575757);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: .5rem;
    max-width: 450px;
    min-height: 45vh;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.3);
}

.container .div-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h1{
    margin-bottom: 0.5rem;
    margin-left:0.5rem;
    align-items: center;
}

.container img{
    height: 100px;
    margin-bottom: 1.2rem;
}

.container h2{
    margin-bottom: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container hr{
    margin-bottom: 1rem;
    color: #000000;
}

.formulario{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.input-block input{
    border: none;
    width: 100%;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.5rem; 
    border-bottom: 1px solid #b9b9b9;  
    outline: none;
}

.input-block input:hover{
    border-bottom: 1px solid #000000;
}

.input-block{
    margin-bottom: 1rem;
}



/* ========= Buttons ==========*/

button{
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: linear-gradient(30deg, #fadf66, #ffae5d);
    width: 100%;

}

.btn-login button{
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: linear-gradient(30deg, #fadf66, #ffae5d);
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column; 
    margin-top: 1.5rem;
}

footer span{
    text-align: center;
    font-weight: 600;
}