<!DOCTYPE html>
<html lang="pt-br"
xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsa Calendário</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/evento.css}">
</head>

<body>
	<nav>
		<a th:href="@{https://www.alura.com.br/}" class="textColor"><li>Alura</li></a>
		<a class="textColor" onclick="sair();"><li>Log-out</li></a>
		<a class="textColor"><li>[[${#request.remoteUser}]]</li></a>
	</nav>

    
	<div id="lista"></div>
    <form th:action="@{/updateToken}" method="GET" th:object="${UpdateUserForm}">
        <div class="input-group">
            <label for="tokenAlura">
                <small>Token</small>
                <input id="tokenAlura" name="tokenAlura" type="text" th:field="*{tokenAlura}" />
                <button type="submit">Salvar</button>
            </label>
        </div>
    </form>

	<div id='clock'></div>
    
    
    <div class="container">

        <div id='clock'></div>
    
        <div class="btn">
            <button onclick="Modal.open()">+</button>
        </div>
        <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"><</i>
                <div class="date">
                <h1></h1>
                <p>Terça-feira, 15 de junho de 2021</p>
            </div>
            <i class="fas fa-angle-right next">></i>
            </div>
            <div class="weekdays">
                <div>Dom</div>
                <div>Seg</div>
                <div>Ter</div>
                <div>Qua</div>
                <div>Qui</div>
                <div>Sex</div>
                <div>Sáb</div>
            </div>
            <div class="days">
            </div>
        </div>   
        
    </div>
	
	<div class="modal-overlay">
            <div class="modal">
                <div id="form">
                    <h2>Novo Evento</h2>

                    <!-- <form onsubmit="Form.submit(event)"> -->
                   	 <form th:action="@{/evento}" method="POST" th:object="${Evento}">
                        <div class="input-group">
                            <label for="titulo">
                                <input type="text" th:field="*{titulo}" name="titulo" id="titulo" placeholder="Título do Evento">
                            </label>
                        </div>
                        <div class="input-group">
                            <label for="descricao">
                                <input id="descricao" name="descricao" type="text" th:field="*{descricao}" placeholder="Descrição">
                            </label>
                        </div>
                        <div class="input-group">
                            <label for="diaInicial">
                                <small>Data de início</small>
                                <input id="diaInicial" name="diaInicial" type="date" th:field="*{diaInicial}">
                            </label>
                        </div>
						<div class="input-group">
                            <label for="diaFinal">
                                <small>Data de fim</small>
                                <input id="diaFinal" name="diaFinal" type="date" th:field="*{diaFinal}">
                            </label>
                        </div>
                        <div class="input-group">
                            <label for="horaInicial">
                                <input id="horaInicial" name="horaInicial" type="text" th:field="*{horaInicial}" >
                                <small>Neste formato: 00:00:00</small>
                            </label>
                        </div>
                        <div class="input-group">
                            <label for="horaFinal">
                                <input id="horaFinal" name="horaFinal" type="text" th:field="*{horaFinal}"  >
                                <small>Neste formato: 00:00:00</small>
                            </label>
                        </div>
                        <div class="input-group actions">
                            <a class="button cancel" onclick="Modal.close()">Cancelar</a>
                            <button type="submit">Salvar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        

        
    
    <div>
		<div>
			<div th:each="evento : ${eventoss}">
				<input type="text" th:value="${evento.titulo}" readonly /> 
				<input type="text" th:value="${evento.descricao}" readonly />
				<input type="text" th:value="${evento.diaInicial}" readonly />
				<input type="text" th:value="${evento.diaFinal}" readonly />
				<input type="text" th:value="${evento.horaInicial}" readonly />
				<input type="text" th:value="${evento.horaFinal}" readonly />
				<button>Aligenigena</button>
			</div>
		</div>
	</div>

    
</body>
	<script th:src="@{/js/evento.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/logout.js}"></script>
    <script th:src="@{/js/notificacao.js}"></script>
    <script th:src="@{/js/token-service.js}"></script>
	<script th:src="@{/https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>
</html>