<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <!-- FOMRULARIO DE LOGIN -->
    <div class="container">
        <h1>Login</h1>
        <form action="#" method="post">
            <div class="input-block">
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="input-block">
                <label for="senha"></label>
                <input type="password" name="senha" id="senha" placeholder="Senha">
            </div>
                <small><input type="checkbox">Manter-me logado</small> 
            </div>
            <button>Logar</button>
        </form>
        <div>
            <p>Não possui conta?</p>
            <button><link rel="stylesheet" th:href="@{/cadastro}">Cadastre-se</button>
        </div>        
    </div>
</body>
</html>