<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
    
    <div class="container">
        <div class="div-block">
            <img th:src="@{/img/prototipo2.png}"/>
            <h1>Agile Schedule</h1>
        </div>    
        <!-- FOMRULARIO DE LOGIN -->
        <h2>Login</h2>
        <hr>
        <form th:action="@{/login}" id="login" method="POST" class="formulario">
        	<p th:if="${param.error}">Usuário Inválido</p>
            <p th:if="${respostaValidacao}" th:text="${respostaValidacao}">rValidacao</p>
            <div class="input-block">
                <label for="email">
                	<input type="text" name="email"  id="username" placeholder="Email" required>
                </label>
            </div>
            <div class="input-block">
                <label for="senha">
                	<input type="password" name="password" id="password" placeholder="Senha" required>
                </label>
            </div>

            <!-- botao para entrar na plataforma-->
            <button type="submit">Entrar</button>
        </form>
        <footer>    
            <span>Não possui conta?</span>
            <a class="btn-login" th:href="@{/cadastro}"><button>Cadastra-se</button></a>            
            
        </footer>  
    </div>      
</body>
</html>