<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
    <div class="container">
        <div class="div-block">
            <img src="images/prototipo2.png" alt="">
            <h1>Agile Schedule</h1>
        </div>    
        <!-- FOMRULARIO DE LOGIN -->
        <h2>Login</h2>
        <hr>
        <form action="#" method="post" class="formulario">
            <div class="input-block">
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="input-block">
                <label for="senha"></label>
                <input type="password" name="senha" id="senha" placeholder="Senha">
            </div>

            <!-- botao para entrar na plataforma-->
            <a class="btn-entrar" href="#"><button>Entrar</button></a>
        </form>
        <footer>    
            <span>Não possui conta?</span>
            <a class="btn-login" href="cadastro.html"><button>Cadastra-se</button></a>            
            
        </footer>  
    </div>      
</body>
</html>